#projects {
    /* height: 110vh; */
    background-image: url('../../SVGs/shell.svg');
}

.projectCard {
    overflow: hidden;
    border-color: #102156;
}

.projectCard img {
    transition: filter .2s ease-in-out;
    filter: grayscale(100%);
}

.projectCard:hover img {
    filter: grayscale(0%)
}

.cardTitle {
    transition: color .2s ease-in-out;
}

.cardTitle:hover {
    color: rgb(116, 36, 255);
}

.modal-section {
    filter: grayscale(0%) !important;
}

.project-title {
        text-shadow: -1px 2px 0 #6488cd,
    4px 2px 0 #6488cd,
    4px -1px 0 #6488cd,
    -1px -1px 0 #6488cd;
}