.about-me {
    height:90vh;
}

.slide-up {
    animation: slide-up 1s ease-in-out;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform:translateY(350px)
    }

    to {
        opacity: 1;
        transform:translateY(0)
    }
}