.about-me {
    min-height:100vh;
}

.slide-up {
    animation: slide-up 1s ease-in-out;
}

#me {
    opacity: 0;
    animation: delayedFadeIn 1s ease-in-out .2s forwards;
}

@keyframes delayedFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes slide-up {
    from {
        opacity: 0;
        transform:translateY(350px)
    }

    to {
        opacity: 1;
        transform:translateY(0)
    }
}